# Advent of Code
# Per AoC guidelines, we should not commit puzzle inputs to the repo
input.txt

# IDE
.idea/
.vscode/
*.swp
*.swo

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Go workspace file
go.work
go.work.sum

# env file
.env